# Ignore version control files
.git
.gitignore

# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore environment-specific files
.env
*.log

# Ignore development and test files
tests/
.ruff_cache/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore Docker-specific files
Dockerfile
.dockerignore

# Ignore poetry's virtual environment if it exists in the project directory
.venv/

# Ignore any other files or directories that are not needed in the Docker image
